# Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [224]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

In [225]:
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

* Display the total number of players

In [226]:
unique = purchase_data ["SN"].unique()
len(unique)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [227]:
unique = purchase_data ["Item ID"].unique()
len(unique)

183

In [228]:
average = purchase_data["Price"].mean()
f"$ {average:.3}"

'$ 3.05'

In [229]:
purchases = purchase_data["Purchase ID"].count()
purchases

780

In [230]:
total_revenue = purchase_data["Price"].sum()
total_revenue
f"$ {total_revenue:.6}"

'$ 2379.77'

In [231]:
summary_df = pd.DataFrame ({"Number of Items": [183], "Average Price":f"$ {average:.3}", "Number of Purchases":780, "Total Revenue":f"$ {total_revenue:.6}"})
summary_df.head()

   Number of Items Average Price  Number of Purchases Total Revenue
0              183        $ 3.05                  780     $ 2379.77

## Gender Demographics

In [232]:
#filter to drop duplicates
purchase_data.loc[:, ["Gender", "SN"]].drop_duplicates()
gender_df = purchase_data.loc[:, ["Gender", "SN"]].drop_duplicates()

In [233]:
gender_df.count()

Gender    576
SN        576
dtype: int64

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [234]:
gender_df["Gender"].value_counts().sum()

576

In [235]:
gender_demographis = pd.DataFrame({"total_count":gender_df["Gender"].value_counts()})
gender_demographis["perc"] = (gender_demographis["total_count"]/gender_demographis["total_count"].sum()).map("{:,.2%}".format)
gender_demographis

                       total_count    perc
Male                           484  84.03%
Female                          81  14.06%
Other / Non-Disclosed           11   1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [236]:
average_price = purchase_data.groupby(["Gender"]).mean()["Price"]
average_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [237]:
purchase_count = purchase_data.groupby(["Gender"]).count()["Price"]
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [238]:
total_purchase_value = purchase_count * average_price
total_purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [239]:
average_total_person = total_purchase_value/gender_df["Gender"].value_counts()
average_total_person

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [240]:
purchase_summary_df = pd.DataFrame ({"Purchase Count": purchase_count, "Average Purchase Price":average_price, "Total Purchase Value":total_purchase_value, "Average Total Per Person": average_total_person}) 
purchase_summary_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [242]:
#Create bins to place age groups
bins =[0,9,14.9,19.9, 24.9, 29.9, 34.9, 39.9, 40 ]

# Create names for these bins
group_names = ["<10", "10 - 14", "15 - 19", "20 - 24", "25 - 29", "30 - 34","35 - 39", "40+"]

purchase_data["Age Demographics"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
purchase_data.head()


purchase_data = purchase_data.groupby("Age Demographics")
purchase_data.max()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
Age Demographics,,,,,,,
<10,778,Tyeurith29,9,Male,179,"Wolf, Promise of the Moonwalker",4.93
10 - 14,774,Zhisrisu83,14,Male,180,Wolf,4.94
15 - 19,771,Yoishirrala98,19,Other / Non-Disclosed,183,Yearning Mageblade,4.91
20 - 24,779,Zontibe81,24,Other / Non-Disclosed,183,Yearning Mageblade,4.99
25 - 29,772,Yasur35,29,Other / Non-Disclosed,183,Worldbreaker,4.94
30 - 34,770,Yarolwen77,34,Male,178,Yearning Mageblade,4.93
35 - 39,768,Tyaerith73,39,Other / Non-Disclosed,179,"Wolf, Promise of the Moonwalker",4.91
40+,667,Salilis27,40,Male,151,Victor Iron Spikes,4.40

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [205]:
#Create bins to place age groups
bins =[0,9,14.9,19.9, 24.9, 29.9, 34.9, 39.9, 40 ]

# Create labels for these bins
group_labels = ["<10", "10 - 14", "15 - 19", "20 - 24", "25 - 29", "30 - 34","35 - 39", "40+"]

# Slice the data and place it into bins
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
purchase_data.head()

# Create a GroupBy object based upon "View Group"
Age_group = purchase_data.groupby("Age Ranges")

# Find how many rows fall into each bin
print(Age_group["SN"].count())

Age Ranges
<10         23
10 - 14     28
15 - 19    136
20 - 24    365
25 - 29    101
30 - 34     73
35 - 39     41
40+          6
Name: SN, dtype: int64

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [266]:
average_price = purchase_data.groupby(["SN"]).mean()["Price"]
average_price

purchase_count = purchase_data.groupby(["SN"]).count()["Price"]
purchase_count

#sorted_df = purchase_data.sort_values(by='purchase_count', ascending=False)
#print(sorted_df)

total_purchase_value = purchase_count * average_price
total_purchase_value

#purchase_sort_df = purchase_value_df.sort_values("Total Purchase Value", ascending = False)
#purchase_sort_df.head()

purchase_summary_df = pd.DataFrame ({"Purchase Count": purchase_count, "Average Purchase Price":average_price, "Total Purchase Value":total_purchase_value}) 
purchase_summary_df.head()

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76               1                    2.28                  2.28
Adastirin33                1                    4.48                  4.48
Aeda94                     1                    4.91                  4.91
Aela59                     1                    4.32                  4.32
Aelaria33                  1                    1.79                  1.79

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [229]:


purchase_count = purchase_data.groupby(["Item ID"]).count()
purchase_count.head()

         Purchase ID  SN  Age  Gender  Item Name  Price  Age Group  Age Ranges
Item ID
0                  4   4    4       4          4      4          4           4
1                  3   3    3       3          3      3          3           3
2                  6   6    6       6          6      6          6           6
3                  6   6    6       6          6      6          6           6
4                  5   5    5       5          5      5          5           5

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [267]:
purchase_count = purchase_data.groupby(["Item ID"]).count()
purchase_count.head()

,Purchase ID,SN,Age,Gender,Item Name,Price,Age Group,Age Ranges,Age Range
Item ID,,,,,,,,,
0,0,4,4,4,4,4,4,4,4
1,0,3,3,3,3,3,3,3,3
2,0,6,6,6,6,6,6,6,6
3,0,6,6,6,6,6,6,6,6
4,1,5,5,5,5,5,5,5,5